{% extends 'forwarding/home_page.html' %}
{% block body %}
    {% if Blog %}
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <p class="fs-6 text-body-secondary">Блоги</p>
    </div>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
         {% for item in Blog %}
        <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
              <h4 class="my-0 fw-normal"></h4>
                {{ item.title }}
          </div>
            <div class="card-body">
             <ul class="list-unstyled mt-3 mb-4">

              </ul>
                <a href="{% url 'blog:blog_post_detail' item.slug %}" class="btn btn-sm btn-outline-secondary">Посмотреть</a>
            </div>
        </div>
      </div>
         {% endfor %}
    </div>
    {% else %}
     <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <p class="fs-6 text-body-secondary">Сегодня нет блогов. Вы можете добавить их в панели администратора</p>
          </div>
    {% endif %}

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <p class="fs-6 text-body-secondary">Статистика</p>
    </div>
    <li> Все Рассылки: {{ all_transmissions }} </li>
    <li> Активные Рассылки: {{ active_transmissions }} </li>
    <li> Все клиенты: {{ all_clients }} </li>
    <li> Уникальные клиенты: {{ unique_clients }} </li>

{% endblock %}
